<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap.css">
    <title>FLASK</title>
</head>
<body>
    <h1>Cadastra Jogo</h1>
    <form method="POST" action="/form_jogos">

        
        Nome: <input type="text" name="nome">
        Genero: <input type="text" name="genero">
        Console: <input type="text" name="console">
        <input type="submit" value="Enviar">
    </form>
    
</body>
</html>