{% extends "template.html" %}
{% block conteudo %}
        <h1> Testando o Jinja2 <br>Enviando variável: {{n}}</h1>

        <table class="table table-striped table-responsive table-bordered" style="width: auto; align-self: center; text-align: center;">
            <thead class="thead-default">
                <tr>
                    <th>Nome</th>
                    <th>Preço</th>
                </tr>
            <tbody>

                {% for prod in aProdutos%}
                <tr>
                    <td>{{prod.nome}}</td>
                    <td>{{prod.preco}}</td>
                </tr>
                {% endfor %}


            </tbody>
                
                
        </table>
        
{% endblock %}