{% extends "template.html" %}
{% block conteudo %}

<form method="POST" action="{{ url_for('login_validar') }}">
    <div class="form-group">

        <input type="hidden" name="proxima" value="{{ proxima }}">

        <label for="nome">Usuario:</label>
        <input type="text" name="usuario" id="" class="form-control" style="width: 300px;">

    </div>

    <div>
        <label for="senha">Senha:</label>
        <input type="password" name="senha" id="" class="form-control" style="width: 300px;">



    </div>

    <input type="submit" value="enviar" class="btn btn-primary btn-salvar" style="margin-top: 10px;">
</form>

{% endblock %}